@page "/"

<MudContainer Class="pt-4">
    <MudCard>
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar Variant="Variant.Filled" Color="Color.Primary">
                    <MudIcon Icon="@Icons.Material.Filled.Dashboard" />
                </MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Dashboard</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudFab IconColor="Color.Primary" Icon="@Icons.Material.Filled.Add" Label="Add device" Class="mt-2 mr-2"/>
            </CardHeaderActions>
        </MudCardHeader>
        <MudCardContent>
            <MudGrid>
                <MudItem xs="12" md="12">
                    <div class="d-flex align-content-start flex-wrap py-2 px-1">
                        @foreach (var i in Enumerable.Range(1, 5))
                        {
                            <div class="my-2 mx-2" style="width: 250px">
                                <DeviceCard Name="@($"Grow box {i}")" Status="@(i % 2 != 0 ? DeviceCard.DeviceStatus.Online : DeviceCard.DeviceStatus.Offline)"/>
                            </div>
                        }
                    </div>
                </MudItem>
            </MudGrid>

        </MudCardContent>
    </MudCard>
</MudContainer>
